<header class="login">
    <div>
        <span><img src="http://fivethotpresents.com/wp-content/uploads/2014/07/GA_logo_FF0033.png" alt=""></span>
        <h1>
            <a href="#">Log in</a>
        </h1>
    </div>
</header>

<section id="home">
    <article class="login">
        <section>
            <div class="post-content">
             <div id="form">
               <div class="ui grid">
                 <div class="eight wide column centered">
                   <div class="ui large form">
                      <%= form_for :session, url: login_path do |f| %>

                           <%= f.label :email %>:
                           <%= f.email_field :email, class: 'email-spacing' %><br />

                           <%= f.label :password %>:
                           <%= f.password_field :password %><br />

                       <%= f.submit %>
                     <% end %>
                   </div>
                 </div>
               </div>
             </div>     
            </div>
        </section>
    </article>
</section>