<header class="login">
    <div>
        <h1>
            <a href="#">Log in man</a>
        </h1>
    </div>
</header>
<div id="form">
  <div class="ui grid">
    <div class="eight wide column centered">
      <div class="ui form">
         <%= form_for :session, url: login_path do |f| %>

              <%= f.label :email %>:
              <%= f.email_field :email %><br />

              <%= f.label :password %>:
              <%= f.password_field :password %><br />

          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>