<header class="signup">
    <div>
        <h1>
            <a href="#">Sign up</a>
        </h1>
    </div>
</header>

<section id="home">
    <article class="signup">
        <section>
            <div class="post-content">
             <div id="form">
               <div class="ui grid">
                 <div class="eight wide column centered">
                   <div class="ui large form">
                      <%= form_for :author, url: signup_path do |f| %>
                           <%= f.label :username %>:
                           <%= f.text_field :username %><br />

                           <%= f.label :email %>:
                           <%= f.email_field :email %><br />

                           <%= f.label :password %>:
                           <%= f.password_field :password %><br />

                           <%= f.label :password_confirmation %>:
                           <%= f.password_field :password_confirmation %><br />

                       <%= f.submit %>
                     <% end %>
                   </div>
                 </div>
               </div>
             </div>     
            </div>
        </section>
    </article>
</section>