<header class="site-head">
    <div>
        <h1>
            <a href="#">Hey, <%= @author.username %></a>
        </h1>
    </div>
    <%= render './home/meta' %>
</header>

<% if @posts %>
    <section id="home">
            <article class="post">
            <% @posts.each do |post| %>
                <section>
                    <div class="post-content">
                        <h1>
                            <a href="#"><%= post.title %></a>
                        </h1>
                        <%= post.body.html_safe %>
                        <footer>
                        <p>
                        <a href="/author/jakeworth"><%= post.author.username %></a>
                        <br>
                        <a class="post__permalink" href="#"><%= post.created_at.strftime("%B %d, %Y") %></a>
                        </p>
                        </footer>
                    </div>
                    <aside>
                    <ul>
                    <li>
                    <a class="hashtag" href="/?hashtag=<%= post.hashtag %>">#<%= post.hashtag %></a>
                    </li>
                    <li>
                    <a class="save" target="_blank" href="#">download
                    </a></li>
                    <li>
                    <a class="js-like-action post__like-link" data-id="<%= post.id %>" href="#"><i class="fa fa-heart-o"></i>
                    <span class="like-label"><%= post.liking_authors.count %></span>
                    </a></li>
                    </ul>
                    </aside>
                </section>
            <% end %>
            </article>
        </section>
<% end %>
