<div class="container">
    <header class="site-head">
        <div>
            <span><img src="http://fivethotpresents.com/wp-content/uploads/2014/07/GA_logo_FF0033.png" alt=""></span>
            <h1>
                <a href="#">Today I Learned <%= @hashtag %></a>
                <!-- <span><img src="http://fivethotpresents.com/wp-content/uploads/2014/07/GA_logo_FF0033.png" alt=""></span> -->
            </h1>
        </div>
        <%= render 'meta' %>
    </header>

    <section id="home">
        <article class="post">
        <% @posts.reverse.each do |post| %>
            <section>
                <div class="post-content">
                    <h1>
                        <a href="#"><%= post.title %></a>
                    </h1>
                    <%= post.body.html_safe %>
                    <footer>
                    <p>
                    <a href="/author/jakeworth"><%= post.author.username %></a>
                    <br>
                    <a class="post__permalink" href="#"><%= post.created_at.strftime("%B %d, %Y") %></a>
                    </p>
                    </footer>
                </div>
                <aside>
                <ul>
                <li>
                    <a class="hashtag" href="/?hashtag=<%= post.hashtag %>">#<%= post.hashtag %></a>
                </li>
                <li>
                    <a class="save" target="_blank" href="#">share
                    </a>
                </li>
                <li>
                    <a class="js-like-action post__like-link" data-id="<%= post.id %>" href="#"><i class="fa fa-heart-o"></i>
                    <span class="like-label"><%= post.liking_authors.count %></span>
                    </a>
                </li>
                </ul>
                </aside>
            </section>
        <% end %>
        </article>
    </section>
</div>
