<div class="container">
    <header class="site-head">
        <div>
            <h1>
                <a href="#">Today I Learned</a>
            </h1>
        </div>
        <section class="meta">
            <ul>
                <% if logged_in?(@author) %>
                <li>
                    <%= link_to '<i class="fa fa-user"></i>'.html_safe, author_path(@author) %>
                </li>
                <li>
                    <a href=""><i class="fa fa-bar-chart"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-search"></i></a>
                </li>
                <li>
                    <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, logout_path, method: :delete %>
                </li>
                <% else %>
                    <li>
                        <%= link_to '<i class="fa fa-user"></i>'.html_safe, login_path %>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-bar-chart"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-search"></i></a>
                    </li>
                <% end %>
            </ul>
        </section>
    </header>

    <section id="home">
        <article class="post">
        <% @posts.each do |post| %>
            <section>
                <div class="post-content">
                    <h1>
                        <a href="#"><%= post.title %></a>
                    </h1>
                    <%= post.body.html_safe %>
                    <footer>
                    <p>
                    <a href="/author/jakeworth"><%= post.author.username %></a>
                    <br>
                    <a class="post__permalink" href="#"><%= post.created_at.strftime("%B %d, %Y") %></a>
                    </p>
                    </footer>
                </div>
                <aside>
                <ul>
                <li>
                <a class="hashtag" href="#"><%= post.hashtag %></a>
                </li>
                <li>
                <a class="save" target="_blank" href="#">save
                </a></li>
                <li>
                <a class="js-like-action post__like-link" data-id="<%= post.id %>" href="#"><i class="fa fa-heart-o"></i>
                <span class="like-label"><%= post.author.liked_posts.count %></span>
                </a></li>
                </ul>
                </aside>
            </section>
        <% end %>
        </article>
    </section>
</div>
