<div class="container">
    <header class="site-head">
        <div>
            <h1>
                <a href="#">Today I Learned</a>
            </h1>
        </div>
    </header>

    <section id="home">
        <article class="post">
            <section>
            <% @posts.each do |post| %>
                <div class="post-content">
                    <h1>
                        <a href="#"><%= post.title %></a>
                    </h1>
                    <p><%= post.body %></p>
                    <footer>
                    <p>
                    <a href="/author/jakeworth"><%= post.author.username %></a>
                    <br>
                    <a class="post__permalink" href="#"><%= time_ago_in_words(post.date) %> ago</a>
                    </p>
                    </footer>
                </div>
                <aside>
                <ul>
                <li>
                <a class="post__tag-link" href="#"><%= post.hashtag %></a>
                </li>
                <li>
                <a class="post__raw-link" target="_blank" href="#">view raw
                </a></li>
                <li>
                <a class="post__permalink" href="#">permalink
                </a></li>
                <li>
                <a class="js-like-action post__like-link" id="#" href="#"><span class="post__like-count">2</span>
                <span class="post__like-label">likes</span>
                </a></li>
                </ul>
                </aside>
                <% end %>
            </section>
        </article>
    </section>
</div>
