<header class="site-head">
    <div>
        <h1>
            <a href="#">Stats</a>
        </h1>
    </div>
    <%= render './home/meta' %>
</header>
<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-liked">Like Count for All Posts</h2>
        <% if build_all_posts_graph%>
            <div class="post-content">
             <%= bar_chart @data, @options %>     
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-liked">My Like Count</h2>
        <% if build_posts_graph(session[:author_id])%>
            <div class="post-content">
             <%= bar_chart @data, @options %>     
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-hashtag">Most Used Hashtags</h2>
        <% if build_hashtags_graph %>
            <div class="post-content">
             <%= bar_chart @data, @options %>    
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-per-day">Posts by Day</h2>
        <% if build_posts_per_day_graph %>
            <div class="post-content">
             <%= bar_chart @data, @options %>    
            </div>
        <% end %>
        </section>
    </article>
</section>
