<header class="site-head">
    <div>
        <span><img src="http://fivethotpresents.com/wp-content/uploads/2014/07/GA_logo_FF0033.png" alt=""></span>
        <h1>
            <a href="#">Stats</a>
        </h1>
    </div>
    <%= render './home/meta' %>
</header>
<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-liked">Most Liked TIL's</h2>
        <% if build_all_posts_graph%>
            <div class="post-content">
             <%= bar_chart @data, @options %>     
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-liked">My Liked TIL's</h2>
        <% if build_posts_graph(session[:author_id])%>
            <div class="post-content">
             <%= bar_chart @data, @options %>     
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-hashtag"><%= NumbersInWords.in_words(@posts.count).capitalize %> Posts in <%= @counts.keys.count %> Channels</h2>
        <% if build_hashtags_graph %>
            <div class="post-content">
             <%= bar_chart @data, @options %>    
            </div>
        <% end %>
        </section>
    </article>
</section>

<section id="home">
    <article class="post">
        <section>
        <h2 class="stats-per-day">Posts by Day</h2>
        <% if build_posts_per_day_graph %>
            <div class="post-content">
             <%= bar_chart @data, @options %>    
            </div>
        <% end %>
        </section>
    </article>
</section>
