<!DOCTYPE html>
<html>
<head>
  <title>til.ga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:logged_in] %>
    <div class="notice"><%= flash[:logged_in] %></div>
<% end %>
<%= yield %>

</body>
</html>
